@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');



*{
    margin: 0;
    padding: 0;
}
header{
    min-height: 80px;
    background-image: linear-gradient(160deg, #6D0C0C, #B11313);
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
    color: #EFEBE8;
    
}
header img{
margin: 20px 0;
}
header h1{
    padding: 20px 0;
    display: inline-block;
}

Main{
    margin-top: 20px;
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #463E42;
}
main input{
    margin: 10px;
}